/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 4

   Rooms Style Sheet
   Author: Edward Ma
   Date:   November 4, 2016

   Filename:         rooms.css
   Supporting Files: 
*/

@font-face {
    font-family: 'VarianeScript';
    src: url('VarianeScript.eot');
    src: url('VarianeScript.eot?#iefix') format('embedded-opentype'),
		 url('VarianeScript.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('VarianeScript.woff2') format('woff2'),
         url('VarianeScript.woff') format('woff'),
         url('VarianeScript.svg#variane_scriptregular') format('svg');
}

body {
	width: 99%;
	mid-width: 500px;
	background-color: rgb(48,35,29);
	background-color: #30231d;
}

header {
	display: block;
	width: 99%;
}
header img {
	display: block;
	margin: auto;
	border-style: outset;
} 

section, article, aside, blockquote {
	display: inline-block;
}

h1 {
  
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

h2 {
	font-size: 25px;
	text-align: center;
}

p {
	color: #ffffff;
  text-align: center;
	font-weight: bold;
  }

mark {
	background-color: rgb(242,182,50);
	background-color: #f2b632;
}

a:link {
	color: #ffffff;
	color: rgb(255,255,255);
}


nav.vertical {
	clear: left;
	float: left;
	width: 20%;
	text-transform: uppercase;
	margin-right: 15px;
}

nav.vertical ul {
    background-color: rgb(106,87,80);
	background-color: #6a5750;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav.vertical li a {
    background-color: rgb(106,87,80);
	background-color: #6a5750;
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

nav.vertical li a:hover {
	background-color: rgb(106,87,80);
	background-color: #6a5750;
	color: #000000;
	font-weight: bold;
	font-style: italic;
}

section {
	width: 75%;
	margin-bottom: 10px;
}

table {
	width: 99%;
	table-layout:initial;
	border-collapse:inherit;
	border-spacing:0;
	}

table caption {
	color: #FFFFFF;
	font-variant: small-caps;
	font-family: 'VarianeScript';
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	letter-spacing: 10px;
}
	
table td {
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px;
	border-style:outset;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	}

table th {
	width: 70px;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px;
	border-style:outset;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	}

table .blank {
	font-weight:bold;
	background-color:#ffffff
	}

table .empty {
	position: static;
	font-weight: bold;
	color:#FFFFFF;
	text-align:center;
	padding:0px;
	width:100px;
	}

table .rooms {
	position: static;
	font-weight:bold;
	background-color: rgb(181,163,151);
	background-color: #b5a397;
	color:#000000;
	text-align:center;
	padding:0px;
	width:100px;
	}
	
.rooms .popup {
	display: block;
    visibility: hidden;
	width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-style: solid;
    padding: 5px;
    position: absolute;
    z-index: 1;	
}

.rooms:hover .popup {
    visibility: visible;
}

table .times {
	height: 35px;
	font-weight:bold;
	background-color: rgb(137,189,211);
	background-color: #89BDD3;
	height: 50px;
	}	

table .slots {
	font-weight:bold;
	background-color: rgb(181,181,183);
	background-color:#b5b5b7;
	vertical-align:top
	}
	
footer {
	font-variant: small-caps;
	border: 1px solid #ffffff;
	color: #ffffff;
	color: rgb(255,255,255);
	text-align: center;
	clear: left;
}